.admin-subheader {
  background-color: #006937; 
  height: 50px;             
  display: flex;
  flex-direction: column;
  align-items: flex-start;      
  padding: 0 30px;         
  color: white;          
  font-weight: 600;
  text-align: left;
  justify-content: center;
}

.admin-subheader h2{
  color: white;             
  font-size: 3rem;
  margin: 0;                
  font-weight: 800;
  font-style: italic;
}

.box {
    border: 8px solid #333333;
    width: 100%;
    max-width: 1300px;
    height: 150px;
    margin: 30px auto;
    padding: 0 10px;
    display: flex;           
    align-items: center;      
    box-sizing: border-box;
}

.box-img {
    width: 150px;
    height: auto;
    max-width: 100%;    /* image wont be wider than the box */
    object-fit: contain; /* keeps aspect ratio */
}

h3 {
 font-weight: 800;
 margin-bottom: 10px
}


.box-text {
    display: flex;
    flex-direction: column;   /* stack h3 and p vertically */
    justify-content: flex-start; /* align text to top of container */
    height: 80%;
    margin-left: 10px;
}

p {
    font-size: 1.4rem; 
    line-height: 1.6; 
    color: #333;       
    font-weight: 600;
}

.admin-btn {
    margin-top: 15px;
    display: inline-block;      
    text-align: center;        
    width: 180px;            
    padding: 10px 20px;
    background-color: #006937;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;      
    cursor: pointer;
    transition: all 0.3s ease;
}



.admin-btn:hover {
    background-color: #008A3A;  
    transform: translateY(-2px); 
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.admin-btn:active {
    transform: translateY(0);  
    box-shadow: none;
}


