.admin-subheader {
  background-color: #006937; 
  height: 30px;             
  display: flex;
  flex-direction: column;
  align-items: flex-start;      
  padding: 0 30px;         
  color: white;          
  font-weight: 600;
  text-align: left;
  justify-content: center;
}

.box {
    border: 8px solid #333333;
    width: 50%;
    max-width: 1300px;
    height: 130px;
    margin: 30px auto;
    padding: 0 10px;
    display: flex;           
    align-items: center;      
    box-sizing: border-box;
}

.box-img {
    width: 60px;
    height: auto;
    max-width: 100%;    /* image wont be wider than the box */
    object-fit: contain; /* keeps aspect ratio */
    margin-left: 20px;
}   

.text-group {
    display: flex;
    flex-direction: column;
}

.box-text {
    display: flex;
    flex-direction: row;  /* Put text on the left, button on the right */
    justify-content: space-between;
    align-items: center;
    width: 100%;          
    margin-left: 10px;
}


h3 {
    font-weight: 800;
    margin-bottom: 5px;
    margin-left: 20px;
}

.email-text{
    font-size: 1.4rem;    
    font-weight: 650px;
    margin-left: 20px;
}


.admin-btn {
    margin-top: 15px;
    display: inline-block;      
    text-align: center;        
    width: 100px;      
    padding: 8px 20px;
    background-color: #6eaf82;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;      
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 50px;
}

