@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) { 
  html { zoom: 1.5; } 
}

@media (min-width: 2560px) { 
  html { zoom: 1.7; } 
}

@media (min-width: 3860px) { 
  html { zoom: 2.5; } 
}

/* SCROLLBAR */
::-webkit-scrollbar { width: 1.3rem; }
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover { 
  background: #222224; 
}

::-webkit-scrollbar-track { 
  background: #f9f9f9; 
}

body {
  font-size: 1.6rem;
  background: var(--bg);
   overflow-x: hidden;
}

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center { 
  text-align: center; 
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

/* SECTION */
#tranding { 
  padding: 4rem 0; 
}

@media (max-width:1440px) { 
  #tranding { 
    padding: 7rem 0; 
  } 
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}
@media (max-width:500px) {
  #tranding .tranding-slider { 
    height: 45rem; 
  }
}

.swiper-slide {
  width: 29rem !important;  
  display: flex;
  justify-content: center;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right { 
  display: none; 
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after { 
  content: ''; 
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

/* CARD DESIGN */
.card {
  width: 29rem; /* 28 */
  background: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
}

.card-img img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

.card-body {
  display: relative;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;
  padding: 1.6rem 1.8rem;

}

.card-title {
  font-weight: 700;
  margin-bottom: 1rem;
  white-space: normal;     
  overflow: hidden;
  text-overflow: clip;     
  max-width: 100%;
  display: block;
  font-size: clamp(0.1rem, 2.5vw, 1.9rem) !important;
}


.card-desc {
  font-size: 1.35rem;
  color: #444;
  margin-bottom: 1.8rem;
  text-align: justify;
}

.reserve-btn {
  width: 100%;
  padding: 1rem 0;
  background: #222;
  color: white;
  border-radius: 1rem;
  border: none;
  cursor: pointer;  
}

.reserve-btn:hover { 
  background: #444; 
}

.tranding-slider {
  overflow-x: visible;  
}


header {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 30px;
    background-color: #fff;

}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px; 
}


.taftlab-logo {
    color: #e50914;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    height: 60px;
}

.profile-icon img{
  height: 35px;
  margin: 0px; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 550;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff914d;
}

.sub-header {
  background-color: #006937; 
  height: 90px;             
  display: flex;
  flex-direction: column;
  align-items: center;      
  padding: 0 30px;         
  color: white;          
  font-weight: 600;
  text-align: center;
  justify-content: center;
  padding-bottom: 5px;
}

.sub-header h2 {
  color: white;             
  font-size: 2rem;
  margin: 0;                
  font-weight: 800;
  font-style: italic;
}

.sub-header-subtext {
  font-size: 1.1rem;
  margin-top: 10px; 
  font-weight: 300;
}


